@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-500: #d6deeb;
  --red-500: #ff6363;
  --orange-500: #f78c6c;
  --yellow-500: #ecc48d;
  --green-500: #addb67;
  --teal-500: #7fdbca;
  --teal-700: #637777;
  --blue-500: #82aaff;
  --purple-500: #c792ea;
  --pink-500: #ff2c83;
  --cyan-400: #80a4c2;
  --cyan-500: #5f7e97;
  --cyan-600: #1d3b53;
  --cyan-700: #0b2942;
  --cyan-800: #011627;
  --cyan-900: #011627;

  --color-background-main: var(--cyan-800);
  --color-text-main: var(--gray-500);
  --color-text-logo: var(--cyan-500);
  --color-text-inactive: var(--cyan-500);
  --color-border-main: var(--cyan-600);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-main: var(--cyan-800);
    --color-text-main: var(--gray-500);
    --color-text-logo: var(--cyan-500);
    --color-text-inactive: var(--cyan-500);
    --color-border-main: var(--cyan-600);
  }
}

body {
  background-color: var(--color-background-main);
  color: var(--color-text-main);
}
